# Sao chép file này thành ".env" rồi điền giá trị thật, KHÔNG commit file ".env" lên GitHub
MONGO_URL=mongodb://localhost:27017
DB_NAME=chatapp
JWT_SECRET=doi-chuoi-nay-thanh-mot-chuoi-ngau-nhien-dai
